.box
  %h2 Sign up

  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = f.error_notification

    = f.input :email, :required => false, :autofocus => true, :label => false, :placeholder => "Email"
    = f.input :password, :required => true, :label => false, :placeholder => "Password"
    = f.input :password_confirmation, :required => true, :label => false, :placeholder => "Password Confirmation"

    = f.button :submit, "Sign up"

  = render "devise/shared/links"