.row
  %h1 goalkeepr

.row
  %p.info
    An experiment in goal setting and monitoring
    %br
    by #{ link_to 'Semblance Systems', 'http://semblancesystems.com' }
.row
  = button_to 'Get Started', goals_path, :class => 'btn primary', :method => :get