.box
  %h2 Sign in

  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    = f.input :email, :required => false, :autofocus => true, :label => false, :placeholder => "Email"
    = f.input :password, :required => false, :label => false, :placeholder => "Password"

    = f.button :submit, "Sign in", :class => "btn"

  = render "devise/shared/links"