.page-header
  %h1 goalkeepr
  .business= current_user.business_name
  .clearfix

= simple_form_for @goal do |f|
  .inline-inputs
    = f.input :description, :as => :string, :placeholder => "Description", :label => false
    = f.input :due_date, :as => :string, :placeholder => "Due Date", :label => false, :input_html => {:data => { :datepicker => :datepicker }}
    = f.submit 'Create', :class => 'btn primary'

- @goals.each_with_index do |goal, i|
  .row
    .goal{'data-goal' => goal.id}
      #{i + 1}. #{goal.description}
      %span{:style =>'color:lightgrey;'} within #{distance_of_time_in_words(Time.now, goal.due_date)}
      #{goal.votes} votes
    .action= link_to 'Remove', goal_path(goal), :method => :delete, :style => 'color:red;'


:javascript
  $(document).ready(function () {
    $('.goal').click(function(e){
      goal_id = $(this).data('goal');
      url = '/goals/' + goal_id + '/vote';

      $.post(url, function(data) {
        location.reload();
      });
    });
  });


  /* Update datepicker plugin so that MM/DD/YYYY format is used. */
  $.extend($.fn.datepicker.defaults, {
    parse: function (string) {
      var matches;
      if ((matches = string.match(/^(\d{2,2})\/(\d{2,2})\/(\d{4,4})$/))) {
        return new Date(matches[3],matches[2] - 1, matches[1]);
      } else {
        return null;
      }
    },
    format: function (date) {
      var
        month = (date.getMonth() + 1).toString(),
        dom = date.getDate().toString();
      if (month.length === 1) {
        month = "0" + month;
      }
      if (dom.length === 1) {
        dom = "0" + dom;
      }
      return dom + "/" + month + "/" + date.getFullYear();
    }
  });