#sessions, #registrations {
  .box {
    width:320px;
    padding:20px;
    border: 1px solid black;
  }

  h2 {
    margin-bottom:20px;
  }

  input {
    width:310px;
  }

  .btn {
    margin-top: 10px;
    margin-bottom:10px;
    width:320px;
    height:40px;
  }
}