// Place all the styles related to the goals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#goals {
  h1 {
    width:200px;
    float:left;
  }

  .business {
    width:700px;
    float:right;
    text-align:right;
    line-height:36px;
  }
  .clearfix {
    clear:both;
  }

  .goal, .action {
    height: auto;

    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
    color: #404040;

    float:left;
  }

  .goal {
    width: 800px;
    padding:10px;
    margin-right:10px;

    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
  }
  .goal:hover {
    cursor:pointer;
    background-color:#f3f3f3;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
    border-radius: 5px; /* CSS3 */
  }

  .action {
    width: 110px;
    margin-top:10px;
  }

  form .base {
    float:left;
  }

  #goal_description {
    width: 660px;
    height: 40px;
    margin-right: 10px;
    font-size:16pt;
  }

  #goal_due_date {
    width: 150px;
    height: 40px;
    margin-right: 10px;
    font-size:16pt;
  }

  input[type=submit] {
    width:90px;
    height:50px;
  }
}