// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pages {
  h1 {
    font-size: 48pt;
    border-bottom:none;
  }

  .info {
    margin-top: 20px;
    font-size: 14pt;
    line-height:18pt;
    font-weight: 100;
    text-transform:uppercase;
  }

  .btn {
    width: 310px;
    height:60px;
  }
}