!!! 5
%head
  %title goalkeepr
  = stylesheet_link_tag    "application"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body{ :id => params[:controller].parameterize.split('-').last, :class => params[:action].parameterize }
  .container
    .content
      = yield